html {
  font-size: 62.5%; /* 10px = 1rem */
  overflow-x: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-wrap: anywhere;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

span {
  font-size: 1.6rem;
  display: block;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
}

section {
  margin-bottom: 15%;
}

section.main {
  margin-bottom: 5%;
}

.inner {
  margin: 0 auto;
  padding: 20px;
}

.parts {
  width: 80%;
  margin: 0% auto;
  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
    width: 100%;
  }
}

.bg {
  background-image: url('~@images/webpack-logo.svg');
  // background-image: url('~images/webpack-logo.svg'); //resolveで設定した「modulesのsrc」が参照される
  background-size: cover;
  width: 100px;
  height: 100px;
}
